#ticketStyle{
    background-image: url('./railBackground.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 750px;
}
/* #div1{
    background-image: url('./indigoPurple.png');
    background-size: cover;
} */
.divStyle{
    background-image:linear-gradient(to right, rgba(31, 31, 31, 0.534), rgba(46, 46, 46, 0.76));
    background-size: cover;
    border: 2px solid skyblue;
    border-radius: 20px;
    margin: 10px;
    transition: 0.8s;
}
.divStyle:hover{
    background-image:linear-gradient(to right, rgba(2, 2, 2, 0.534), rgba(0, 0, 0, 0.76));
    border: 1px solid white;
    box-shadow: 3px 3px 8px rgb(102, 102, 102);
    transform: scale(1.02);
    cursor: pointer;
}

.buttonStyle{
    background-image: linear-gradient(to right,rgb(233, 146, 15), orangered)!important;
    font-size: 20px!important;
    margin-top: 5px;
    border-radius: 25px!important;
}
.buyButtonlinkStyle{
    text-decoration: none;
    color: black;
}
.buyButtonlinkStyle:hover{
    text-decoration: none;
    color: black;
}